.home_feature_wrapper {
  margin: 10px;
  background-color: gray;
  border-radius: 60px;
}

.home_feature_img {
  position: relative;
  left: -200px;
  top: -150px;
}

.home_feature_title {
  position: relative;
  margin-left: 20px;
  top: -140px;
}

.home_feature_description {
  padding: 5px;
  position: relative;
  margin-left: 20px;
  top: -100px;
}