@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "shared/styles/_mixins.scss";

/* WRAPPERS START */
.top_container_wrapper {
  height: 100vh;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("../../shared/images/bg/about-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bottom_container_wrapper {
  height: 100%;
  background-color: white;
  @include breakpoint(xs) {
    padding-top: 50px;
  }
  @include breakpoint(sm) {
    padding-top: 100px;
  }
}

.title_wrapper {
  max-width: 1200px;
  align-self: center;
  @include breakpoint(xs) {
    margin-top: 60%;
    padding: 35px;
  }
  @include breakpoint(sm) {
    margin-top: 20%;
  }
}

.icon_wrapper_right {
  display: flex;
  align-items: center;
  @include breakpoint(xs) {
    justify-content: center;
    margin-top: 50px
  }
  @include breakpoint(sm) {
    justify-content: flex-end;
    margin-top: 0px;
  }
}

.icon_wrapper_left {
  @include breakpoint(xs) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.intro_text_wrapper {
  border: 10px solid #696969;
  border-radius: 5px;
  padding: 25px;
  @include breakpoint(xs) {
    margin-top: 100px
  }
  @include breakpoint(sm) {
    margin-top: 0px;
    font-size: 1.3rem;
  }
}

/* WRAPPERS END */

/* FONTS START */


.title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  @include breakpoint(xs) {
    font-size: 1.5rem;
  }
  @include breakpoint(sm) {
    font-size: 4rem;
  }
}

.bottom_caption_txt {
  font-family: 'Raleway', sans-serif;
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(sm) {
    text-align: left;
  }
}

.explore_text {
  position: absolute;
  color: white;
  margin: auto;
  left: 0;
  right: 0; 
  bottom: 10px;
  width: 75px;
}


.icon_text_right_title {
  font-weight: 800;
  @include breakpoint(xs) {
    font-size: 1.8rem;
    text-align: center;
  }
  @include breakpoint(sm) {
    font-size: 2.2rem;
    text-align: right;
  }
}

.icon_text_right {
  @include breakpoint(xs) {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm) {
    font-size: 1.2rem;
    text-align: right;
  }
}

.icon_text_left_title {
  font-weight: 800;
  @include breakpoint(xs) {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 50px;
  }
  @include breakpoint(sm) {
    margin-top: 0px;
    font-size: 2.2rem;
  }
}

.icon_text_left {
  @include breakpoint(xs) {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(sm) {
    font-size: 1.2rem;
    text-align: left;
  }
}

.footer_text {
  text-align: center;
  @include breakpoint(xs) {
    font-size: 1.5rem;
  }
}

.caption_text_2_top {
  font-weight: 800;

  @include breakpoint(xs) {
    font-size: 1.8rem;
    text-align: center;
  }
  @include breakpoint(sm) {
    font-size: 2.5rem;
  }
}

.caption_text_2_bottom {

  @include breakpoint(xs) {
    font-size: 1.5rem;
  }
  @include breakpoint(sm) {
    font-size: 1.6rem;
  }
}

.caption_text_2_author {
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(sm) {
    text-align: left;
  }
}


.scroll_downs {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.scroll_downs:hover {
  cursor: pointer;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* Borders */

