.top {
  position: fixed;
  left: 0;
  right: 0;
  height: 80%;
  top: 0;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  height: 20%;
  bottom: 0;
  background: linear-gradient(#5f1105, );
}



.sun {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin: 7em auto;
  padding: 7em;
  box-shadow: 0 0 60px 30px #fbe602, 0 0 100px 60px #e70f14, 0 0 80px 30px #fabc14;
}

.wrapper {
  position: absolute;
  width: 100%;
  margin: 0em auto;
  top: 0px;
}