@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.animatePopIn {
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.title_text_1 {
  animation-delay: 1s;
}

.title_text_2 {
  animation-delay: 2s;
}

.title_text_3 {
  animation-delay: 3s;
}

.title_text_4 {
  animation-delay: 3.5s;
}

.landingWrapper {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../shared/images/main-bg.jpg");
  color: white;
  display: flex;
  justify-content: center;
}

.section2Wrapper {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../shared/images/space-11.jpg");
  color: white;
  display: flex;
  justify-content: center;
}

.sectionTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.section_2_text {
  padding: 3rem;
  text-align: center;
  max-width: 1000px;
}
.moon_glow {
  content: "";
  position: relative;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 0 50px tomato, 0 0 30px orange, inset 0 10px 10px 20px #ddd,
    inset 30px 0 35px 50px #ccc;
  background: #aaa;
}

/* WRAPPERS */

.content_wrapper {
  margin-top: 150px;
  background-color: red;
  height: 500px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
}

.star_bg_wrapper {
  background-color: #253237;
  height: 100vh;
}

.section_2_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.bg_wrapper_1 {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 32, 62, 1) 66%,
    rgba(0, 65, 125, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg_wrapper_2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(0, 64, 124);
  background: linear-gradient(
    180deg,
    rgba(0, 64, 124, 1) 0%,
    rgba(75, 134, 189, 1) 66%,
    rgba(92, 162, 227, 1) 100%
  );
}

.bg_wrapper_3 {
  height: 100%;
  background: rgb(116, 144, 171);
  background: rgb(92, 162, 227);
  background: linear-gradient(
    180deg,
    rgba(92, 162, 227, 1) 0%,
    rgba(58, 158, 251, 1) 66%,
    rgba(24, 144, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg_wrapper_4 {
  height: 100%;

  background: rgb(74, 162, 246);
  background: linear-gradient(
    180deg,
    rgba(74, 162, 246, 1) 0%,
    rgba(74, 162, 246, 1) 66%,
    rgba(50, 155, 255, 1) 100%
  );
}

.hero_wrapper_bottom {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../shared/images/space-3-inverted.jpg");
  color: white;
}

/* IMAGES */

.airplane_1,
.astro,
.quote_1,
.space_ship_smoke_img,
.comet_1_img,
.space_ship_img,
.cloud_2_img,
.cloud_img_3,
.flying_saucer_1,
.space_satellite_1,
.sun_img_1,
.tree_img_1,
.happy_face,
.earth_img_1,
.tree_img_1,
.cloud_3_img,
.cloud_2_img,
.card_info_bottom,
.space_man_1,
.cloud_1_img {
  position: relative;
}

.tree_img_1 {
  animation: breathing 4s infinite linear;
}

.quote_1 {
  color: white;
}

.moon_img {
  position: absolute;
}

.space_man_1 {
  animation: wobble 12s infinite linear;
}

.comet_1_img {
  transform: rotate(135deg);
}

.astro {
  animation: spinSpace 25s infinite linear;
}

.saucer_1_img {
  animation: spinSaucer 5s infinite linear;
  margin-top: 100px;
  margin-left: 100px;
}

.flying_saucer_1 {
  animation: floating 3s infinite linear;
}

.space_satellite_1 {
  animation: horizontalPass 10s infinite linear;
}

.airplane_1 {
  animation: airplanePass 6s infinite linear;
}

/* FONTS */

@include media-breakpoint-up(xs) {
  .introText {
    font-size: 3rem;
    padding: 10px;
  }

  .quote_1 {
    padding: 10px;
    top: 500px;
  }
  .flying_saucer_1 {
    top: 20px;
    left: 50px;
    height: 6rem;
  }

  .earth_img_1 {
    top: 650px;
    left: -40px;
    height: 26rem;
    top: 700px;
  }

  .astro {
    height: 8rem;
    top: 650px;
    left: 200px;
  }

  .moon_img {
    top: 340px;
    left: 100px;
  }

  .space_ship_img {
    left: 20px;
    top: 820px;
    height: 8rem;
  }
  .space_ship_smoke_img {
    top: 925px;
    left: -55px;
    height: 5rem;
  }

  .sun_img_1 {
    top: -140px;
    left: -200px;
  }

  .cloud_1_img {
    top: 1300px;
    left: 200px;
    height: 7rem;
  }
  .cloud_2_img {
    top: -460px;
    left: -40px;
    height: 5rem;
  }

  .cloud_img_3 {
    top: 100px;
    left: -100px;
  }

  .space_man_1 {
    height: 120px;
    top: 150px;
    left: 200px;
  }

  .quote_2 {
    padding: 10px;
  }

  .space_satellite_1 {
    height: 170px;
    top: 450px;
    left: -100px;
  }

  .airplane_1 {
    left: -800px;
    top: 200px;
  }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
  .introText {
    font-size: 5rem;
    margin-top: -300px;
  }

  .quote_1 {
    top: 550px;
  }

  .moon_img {
    top: 0px;
    left: 0px;
  }

  .flying_saucer_1 {
    top: 20px;
    left: 50px;
    height: 10rem;
  }

  .space_ship_img {
    top: 1100px;
    left: 50px;
    height: 12rem;
  }

  .space_ship_smoke_img {
    top: 1270px;
    left: -70px;
    height: 9rem;
  }

  .comet_1_img {
    top: 500px;
    right: -1400px;
  }

  .moon_glow {
    top: -200px;
    left: 50px;
  }

  .cloud_1_img {
    top: 100px;
    left: 1400px;
    height: 10rem;
  }
  .cloud_2_img {
    top: 100px;
    left: 0px;
    height: 8rem;
  }

  .cloud_img_3 {
    top: 200px;
    left: 600px;
    height: 10rem;
  }

  .earth_img_1 {
    height: 1400px;
    width: 1400px;
    top: 700px;
    margin-left: -700px;
    left: 50%;
  }

  .happy_face {
    left: -450px;
    top: -350px;
  }

  .tree_img_1 {
    top: 50px;
    left: -100px;
  }
  .sun_img_1 {
    top: -150px;
    left: 700px;
  }
  .space_satellite_1 {
    height: 200px;
    top: 350px;
    left: -200px;
  }

  .space_man_1 {
    height: 200px;
    top: 450px;
    left: 85%;
  }

  .airplane_1 {
    left: -700px;
    top: 0px;
  }
}

@include media-breakpoint-up(lg) {
  .introText {
    font-size: 5rem;
    margin-top: -100px;
  }
  .astro {
    top: 650px;
    left: 70%;
    height: 11rem;
  }

  .space_man_1 {
    height: 250px;
    top: 300px;
    left: 85%;
  }
  .tree_img_1 {
    top: 75px;
    left: 1000px;
  }

  .card_info_bottom {
    padding: 10px;
    left: 150px;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}

@include media-breakpoint-up(xl) {
  .astro {
    top: 700px;
    left: 1100px;
    height: 13rem;
  }

  .space_man_1 {
    height: 250px;
    top: 150px;
    left: 85%;
  }
  .cloud_2_img {
    top: -500px;
    left: 100px;
  }
  .cloud_1_img {
    left: 1400px;
  }
}

@keyframes breathing {
  0% {
    transform: scale(0.9) rotate(20deg);
  }

  25% {
    transform: scale(1) rotate(20deg);;
  }

  60% {
    transform: scale(0.9) rotate(20deg);;
  }

  100% {
    transform: scale(0.9) rotate(20deg);;
  }
}

@keyframes spinSpace {
  0% {
    transform: rotate(0deg) translateY(-2rem);
  }
  25% {
    transform: translateX(80px) translateY(2rem) rotate(80deg);
  }
  75% {
    transform: translateX(-30px) translateY(-2rem) rotate(-90deg);
  }
  100% {
    transform: translateX(0px) translateY(-2rem) rotate(0deg);
  }
}

@keyframes spinSaucer {
  0% {
    transform: rotate(0deg) translateY(-8vh);
  }
  25% {
    transform: translateX(80px) translateY(-5vh) rotate(120deg);
  }
  75% {
    transform: translateX(-30px) translateY(-5vh) rotate(-90deg);
  }
  100% {
    transform: translateX(0px) translateY(-5vh) rotate(40deg);
  }
}

@keyframes horizontalPass {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  25% {
    transform: rotate(10deg) translateX(500px);
  }
  75% {
    transform: rotate(0deg) translateX(1500px);
  }
  100% {
    transform: rotate(5deg) translateX(2200px);
  }
}

@keyframes airplanePass {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  25% {
    transform: rotate(2deg) translateX(600px);
  }
  50% {
    transform: rotate(2deg) translateX(1300px);
  }
  75% {
    transform: rotate(0deg) translateX(2000px);
  }
  100% {
    transform: rotate(2deg) translateX(2600px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  25% {
    transform: translateY(2rem) rotate(15deg);
  }

  50% {
    transform: translateY(1rem) rotate(-15deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-15%) rotate(-5deg);
  }
  30% {
    transform: translateX(10%) rotate(3deg);
  }
  45% {
    transform: translateX(-05%) rotate(-3deg);
  }
  60% {
    transform: translateX(0%) rotate(2deg);
  }
  75% {
    transform: translateX(5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.shadowfilter {
  transition: all 0.5s linear;
}
.shadowfilter:hover {
  -webkit-filter: drop-shadow(5px 5px 28px rgba(0, 231, 255, 0.8));
  cursor: pointer;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@function box-shadow($stars) {
  $bxshadow: ();
  @for $i from 1 to $stars {
    $bxshadow: append(
      $bxshadow,
      (random(2000) + 0px) (random(2000) + 0px) #fff,
      comma
    );
  }
  @return unquote($bxshadow);
}

$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);

.lgStar {
  height: 3px;
  width: 3px;
  background: transparent;
  box-shadow: $bxshadow-large;
  animation: blink-large 7s infinite;
}
.medStar {
  height: 2px;
  width: 2px;
  background: transparent;
  box-shadow: $bxshadow-medium;
  animation: blink-medium 5s infinite;
}
.smallStar {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: $bxshadow-small;
  animation: blink-small 3s infinite;
}

@keyframes blink-large {
  0% {
    box-shadow: $bxshadow-large;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-large;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-large;
  }
}
@keyframes blink-medium {
  0% {
    box-shadow: $bxshadow-medium;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-medium;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-medium;
  }
}
@keyframes blink-small {
  0% {
    box-shadow: $bxshadow-small;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-small;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-small;
  }
}


@keyframes orbit-animation {
  from {
      transform: rotateY(0) translateZ(100px);
      animation-timing-function: linear;
  }

  to {
      transform: rotateY(360deg) translateZ(100px);
      animation-timing-function: linear;
  }
}