@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "shared/styles/_mixins.scss";

/* WRAPPERS START */
.top_container_wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../shared/images/bg/where-aliens-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bottom_container_wrapper {
  height: 100%;
  background-color: white;
  @include breakpoint(xs) {
    padding-top: 50px;
  }
  @include breakpoint(sm) {
    padding-top: 100px;
  }
}

.title_wrapper {
  max-width: 1200px;
  align-self: center;

  @include breakpoint(xs) {
    margin-top: 60%;
    padding: 35px;
  }
  @include breakpoint(sm) {
    margin-top: 25%;
  }
}

/* WRAPPERS END */

/* FONTS START */

.title {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  @include breakpoint(xs) {
    font-size: 2.3rem;
  }
  @include breakpoint(sm) {
    font-size: 4rem;
  }
}

.intro_text {
  @include breakpoint(sm) {
    font-size: 1.5rem;
  }
}

.explore_text {
  position: absolute;
  color: white;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 75px;
}

.footer_text {
  text-align: center;
  @include breakpoint(xs) {
    font-size: 1.5rem;
  }
}

.scroll_downs {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}
.scroll_downs:hover {
  cursor: pointer;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* Borders */
