@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import 'shared/styles/_mixins.scss';

.basic_font {
    font-family: 'Open Sans', sans-serif;
}

.fermi_bg_wrapper_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-size: contain;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../shared/images/bg/kuz-bg-2.jpg');
    @include breakpoint(xs) {
        height: 500px;
    }
    @include breakpoint(sm) {
        height: 800px;
    }
}

.icon_image {
    max-height: 180px;
    @include breakpoint(xs) {
        margin-bottom: 20px;
    }
    @include breakpoint(sm) {
        margin-bottom: 0px;
    }
}

.fermi_title {
    position: relative;
    top: 150px;
    @include breakpoint(xs) {
        font-size: 3.5rem;
    }
    @include breakpoint(sm) {
        font-size: 6.5rem;
    }
}

.fermi_bg_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../shared/images/bg/kuz-bg-1.jpg');
    @include breakpoint(xs) {
        height: 500px;
    }
    @include breakpoint(sm) {
        height: 800px;
    }
}

.alien_1 {
    @include breakpoint(xs) {
        max-height: 220px;
    }
    @include breakpoint(sm) {
        margin-left: 100px;
        max-height: 300px;
    }
}
