@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.top_section {
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,26,50,1) 66%, rgba(0,40,101,1) 100%);
}

.bottom_section {
  height: 100vh;
  background: rgb(0,40,101);
  background: linear-gradient(180deg, rgba(0,40,101,1) 0%, rgba(35,84,130,1) 66%, rgba(90,123,172,1) 100%);
}

.content {
  max-width: 1000px;
}

.top_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*images */
.moon {
  position: relative;
  top: 150px;
  left: 100px;
}

.breathing {
  animation: breathing 5s infinite linear;
}

.floating {
  animation: floating 8s infinite linear;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}


@keyframes floating {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(2rem) rotate(30deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}



@include media-breakpoint-up(xs) {

  .title {
    font-size: 2.5rem;
    margin-top: 100px;
  }
  
  .caption {
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@include media-breakpoint-up(md) {
  .astro {
    left: 1200px;
    top: 300px;
  }

  .title {
    font-size: 4.5rem;
  }

  .caption {
    font-size: 1.4rem;
    margin-top: -150px;
  }

}

.btn_pill {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: gray;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.btn_pill:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

  .disabled {
    pointer-events: none;
    background-color: #bdbdbd;
  }