@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "shared/styles/_mixins.scss";


.title {
  
  font-weight: 800;
  @include breakpoint(xs) {
    font-size: 2.5rem;
  }
  @include breakpoint(sm) {
    font-size: 3rem;
  }
}

.main_text {
  font-family: "Open Sans", sans-serif;
  @include breakpoint(xs) {
    font-size: 2.5rem;
  }
  @include breakpoint(sm) {
    font-size: 1.5rem;
  }
}
