@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


.box {
  border: 10px solid;
  border-image-source: linear-gradient(
    45deg,
    rgb(58, 58, 58),
    rgb(25, 93, 165)
  );
  border-image-slice: 1;
}




@include media-breakpoint-up(xs) {

  .home_txt_title {
    font-size: 1.4rem;
    text-align: center;
  }
  
  .home_txt_caption {
    text-align: center;
  }

  .home_facts_ul {
    margin-left: -15px;
  }

  .home_title {
    margin-bottom: 20px;
  }

}

@include media-breakpoint-up(md) {
  .astro {
    left: 1200px;
    top: 300px;
  }

  .home_title {
    margin-bottom: 0px;
  }

  .home_txt_title {
    font-size: 1.8rem;
  }
  
  .home_txt_caption {
    margin-top: 10px;
    font-size: 1.4rem;
  }
}
