.home_feature_wrapper {
  position: absolute;
  min-width: 300px;
  display: block;
}

.home_feature_img {
  position: relative;
  left: 200px;
  top: -150px;
}

.home_feature_title {
  position: relative;
  margin-left: 20px;
  top: -120px;
}

.home_feature_description {
  position: relative;
  margin-left: 20px;
  top: -100px;
}