.heroWrapper {
  height: 92vh;
  background-image: url("../../images/viking-bg.jpg");
  background-size: contain;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}